
/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header:after {
    content: " hi";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.logo {
	float: left;
  width: 25%;
}

.navigation {
  float: right;
  width: 75%;
}

.sidebar {
  float: left;
  height: 300px;
  width: 25%;
}

.main-content {
  float: right;
  height: 300px;
  width: 75%;
}

.footer {
  clear: both;
}
