
/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
  height: 100px;
}

header:after {
  content: " ";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.logo {
  float: left;
  width: 50%;
}

.navigation {
  float: right;
  width: 50%;
}

.sidebar {
  float: left;
  height: 250px;
  width: 25%;
  min-width: 100px;
}

.main-content {
  clear: both;
  height: 300px;
}

.sub-content {
  display: block;
  height: 125px;
}

.sub-content-2 {
  width: 75%;
  float: right;
  height: 125px;
}

.footer {
  clear: both;
}
