

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
/* hint! what do you have to add here? */

.logo {
  float: left;
  width: 25%;
}

.navigation {
  float: right;
  width: 75%;
}

.sidebar {
  float: left;
  width: 25%;
  height: 250px;
}

.main-content {
  height: 300px;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	float: left;
  width: 75%;
  height: 125px;
}

.sub-content-2 {
  float: right;
  height: 125px;
  width: 75%;
}

.footer {
  clear: both;
}
