
/* Example 09 */

.header {
  margin-top: 15px;
  text-align: center;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  color: white;
}

.container:after {
  content: " ";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.sidebar {
  width: 33.3%;
  float: left;
  height: 300px;
}

.main-content {
  width: 33.3%;
  float: left;
  height: 300px;

}

.sub-content {
  width: 33.3%;
  float: left;
  height: 300px;

}

.footer {
  clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */








