/* Example 11 */

.header {
  color: white;
}

.header:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.logo {
  float: left;
  width: 25%;
}

.navigation {
  float: right;
  width: 75%;
}

.main-content {

}
.main-content:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.post {
}

.post:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.image {
  float: left;
  width: 35%;
}

.post_excerpt {
  float: right;
  width: 60%;
  min-width: 20px;
  margin: auto;
}
