
/* Example 08 */

.container {
	width: 90%
	margin: 0 auto;
}

.header {
}


.sidebar {
  width: 33%;
  display: inline-block;
  height: 300px;
}

.main-content {
  width: 33%;
  display: inline-block;
  height: 300px;
}

.sub-content {
  width: 33%;
  display: inline-block;
  height: 300px;
}


.footer {
}
