
/* Example 02 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
}

.sidebar {
	float: left;
	width: 25%;
  height: 300px;
}

.main-content {
	float: left;
  width: 75%;
  height: 300px;
}

.footer {
	clear: both;
}
