
/* Example 08 */

body {
  color: white;
}

.container {
	width: 90%
	margin: auto;
}

.header {
}


.sidebar {
  width: 33.3%;
  float: left;
  height: 300px;
}

.main-content {
  width: 33.3%;
  float: left;
  height: 300px;
}

.sub-content {
  width: 33.3%;
  float: left;
  height: 300px;
}


.footer {
  clear: both;
}

